div{
    height:200px;
    width:200px;
    background-color: rgba(255,255,25,1);
    transition:2s
}

/* here is the difference, when you use opactity then it applies to the 
text also when we use opacity */
#opacity{
    opacity:0.5;/* this one  */
    background-color: #ffa511;
}

div:hover{
    background-color:black;
    border: radius 50%;
}


