/* body {
    text-align: center;
}

div {
    height: 100px;
    width: 100px;
    display: inline-block;
    border: 2px solid black;
}

#container {
    width: 800px;
    height: 200px;
}

#box1 {
    background-color: aqua;
}

#box2 {
    background-color: pink;
}

#box3 {
    background-color: darkkhaki;
}

#box4 {
    background-color: indianred;
}

#box5 {
    background-color: slateblue;
} */


div{
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    border: 2px solid black;
    /* transition-property: all;
    transition-duration: 2s;
    transition-timing-function:steps(4);
    transition-delay: 1s; */

    /* transition: all 2s steps(4) 1s; */

    /* CSS TRANFORM */
    position:absolute;
    top:100px;
    left:100px;
    /* transform: rotate(45deg) ; */
    
    
    /* transition: all 2s ease-in-out; */
     /* transform: scaleX(1.5); */



     /* animation  */
    /* animation-name: colorAnimate;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-direction: alternate;     */

    animation: colorAnimate 2s ease-in 0s infinite alternate;  
}

div:hover{

    /* background-color: red;
    color: white;
    font-size: 30px;
    transform: rotate(90deg); */

    /* transform: skew(30deg); */
    
    
}

div:active{ /* when you click it  */
    background-color: blue;
    color: black;
}

/* @keyframes colorAnimate{
    from{
        background-color: aquamarine;
    }to{
        background-color: red;
    }
} */

@keyframes colorAnimate{
    0%{
        background-color: aquamarine;
        left: 100px;
    }50%{
        background-color: red;
        left: 200px;
    }100%{
        background-color: yellow;
        left: 300px;
    }
}